.board {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    align-content: center;
    padding: 8px;
}

.header {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    //flex-direction: row;
    //align-items: center;
  &-title {
    display: inline-block;
    font-size: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  &-settings {
    display: inline-block;
    align-items: left;
    //justify-content: flex-start;
  }
}

.newHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 100%;
  font-size: 2em;
}

.newSettings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 8px;
  z-index: 1;
}

.testTitle {
  display: inline-block;
  font-size: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.testSettings {
  display: inline-block;
  align-items: left;
    //justify-content: flex-start;
}

.subtext {
  padding-bottom: 4px;
  margin-bottom: 12px;
  display: block;
  font-size: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
}

.newSubtext {
  padding-bottom: 4px;
  margin-bottom: 12px;
  padding-top: 2.25em;
  display: block;
  font-size: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
}

.input {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1em;
  border-radius: 4px;
  border: 2px solid;
  background: transparent;
  border-color: var(--global-border-color);
  color: var(--global-color);
}

.submit {
  margin-left: 1em;
  font-size: 1em;
  border-radius: 4px;
  border: 2px solid;
  padding: 0.1rem 0.75rem;
  background: var(--global-background);
  color: var(--global-color);
  border-color: var(--global-border-color);
}

.status {
  padding-bottom: 4px;
}

.letterStates {
  text-align: center;
  align-content: center;
  padding: 4px;
}

.newGame {
  display: block;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 1.25em;
}

.newGameButton {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  border: 2px solid;
  border-radius: 0.25rem;
  background: var(--global-background);
  color: var(--global-color);
  border-color: var(--global-border-color);
  padding: 0.1rem 0.75rem;
}

.modalContainer {
  background: #a3a9ac;
  border-color: white;
}

.modalTitle {
  justify-content: center;
    text-align: center;
    border-bottom: 1px solid;
    margin: 16px;
    font-size: 2em;
}

.modalBody {
  margin: 16px;
  font-size: 1em;
}

.settingsButton {
  background: transparent;
  color: #eee;
  border-color: transparent;
}

.settingsIcon {
  stroke: white;
  color: black;
  height: 100%;
  width: 100%;
  display: block;
}

.enterIcon {
  stroke: var(--color-tone-1);
}

.shakin {
    animation: kf_shake 0.4s 1 linear;
  }
  
  @keyframes kf_shake {
    0% {
      -webkit-transform: translate(30px);
    }
  
    20% {
      -webkit-transform: translate(-30px);
    }
  
    40% {
      -webkit-transform: translate(15px);
    }
  
    60% {
      -webkit-transform: translate(-15px);
    }
  
    80% {
      -webkit-transform: translate(8px);
    }
  
    100% {
      -webkit-transform: translate(0px);
    }
  }