<div *ngIf="apiObsv | async">
    <div class="header">
        <header class="header-title">mordle</header>
        <span class="header-subtext">more wordle</span>
    </div>
    <div class="newGame">
        <button class="newGameButton" type="button" (click)="newGame()">New game</button>
    </div>
    <div class="board">
        <div class="status">
            {{status}}
        </div>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off" *ngIf="guessArr.length != guessesAllowed && status != 'Wowza!'">
            <input
                class="input"
                name="guess"
                ngModel
                placeholder="guess here"
                />
            <button class="body submit">></button>
        </form>
        <div *ngIf="guessArr.length == guessesAllowed">
            Game over. Answer: {{ans}}
        </div>
    </div>
    <div class="board">
        <app-entry
            *ngFor="let guess of guessArr"
            [guess]="guess"
            [ans]="ans"
        ></app-entry>
        <app-entry
            *ngFor="let i of [].constructor(guessesAllowed - guessArr.length)"
            [guess]="'-----'"
            [ans]="ans"
        ></app-entry>
    </div>
    <div class="letterStates">
        <app-letter-state
            *ngFor="let ltrInfo of letterStates | slice:0:10"
            [letterInfo]="ltrInfo"
        ></app-letter-state>
    </div>
    <div class="letterStates">
        <app-letter-state
            *ngFor="let ltrInfo of letterStates | slice:10:19"
            [letterInfo]="ltrInfo"
        ></app-letter-state>
    </div>
    <div class="letterStates">
        <app-letter-state
            *ngFor="let ltrInfo of letterStates | slice:19:26"
            [letterInfo]="ltrInfo"
        ></app-letter-state>
    </div>
</div>
<div class="header" *ngIf="errorState">
    Error using WordsAPI
</div>