.square {
    border: 2px solid;
    margin: 4px;
    padding: 2px;
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1px;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
}

.square-yellow {
    background-color: #B49F3A;
}
.square-green {
    background-color: #538D4E;
}

.square-empty {
    font-size: 0;
}